<body>
  <div class="container">
    <div class="photo-gallery">
      <div class="item1 margin-call">
        <img src="../../assets/img/Jeff.jpg" class="gallery_img" alt="">
      </div>
      <div class="item2 margin-call">
        <img src="../../assets/img/Marissa.jpg" class="gallery_img" alt="">
      </div>
      <div class="item3 margin-call">
        <img src="../../assets/img/Mark.jpg" class="gallery_img" alt="">
      </div>
      <div class="item4 margin-call">
        <img src="../../assets/img/satya.jpg" class="gallery_img" alt="">
      </div>
      <div class="item5 margin-call">
        <img src="../../assets/img/sundhar.jpg" class="gallery_img" alt="">
      </div>
      <div class="item6 margin-call">
        <img src="../../assets/img/Tim.jpg" class="gallery_img" alt="">
      </div>

    </div>
  </div>
</body>